
.navbar{
    background-color: #1b1b1b;
}
.navbar a{
    text-decoration: none;
    width: max-content;
    border-bottom: solid 2px transparent;
}
.links a{
    color: #ffffffb2;
    padding: 8px;
    transition: all 0.4s;
}
.links a:hover{
    color: white;
    border-bottom: solid 2px white;
}
.link-active{
    color: white !important;
    border-bottom: solid 2px white !important;
}
