.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
}
.header span{ 
    font-size: 2.1rem;
    font-weight: bolder;
}
.header small{
    font-weight: 700;
    font-size: 1.4rem;
    color: #535353;
}
.header hr{
    width: 40%;
}